<a href="https://colab.research.google.com/github/Chaitra-B-V/EDA-ApacheBeam/blob/main/DTale_AutoEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dtale

In [2]:
import pandas as pd
d=pd.read_csv(r"adult.csv")
print(d.head())

   39          State-gov   77516   Bachelors   13        Never-married  \
0  50   Self-emp-not-inc   83311   Bachelors   13   Married-civ-spouse
1  38            Private  215646     HS-grad    9             Divorced
2  53            Private  234721        11th    7   Married-civ-spouse
3  28            Private  338409   Bachelors   13   Married-civ-spouse
4  37            Private  284582     Masters   14   Married-civ-spouse

         Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0     Exec-managerial         Husband   White     Male      0   0   13
1   Handlers-cleaners   Not-in-family   White     Male      0   0   40
2   Handlers-cleaners         Husband   Black     Male      0   0   40
3      Prof-specialty            Wife   Black   Female      0   0   40
4     Exec-managerial            Wife   White   Female      0   0   40

    United-States   <=50K
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3            Cuba   <=50K
4   United-States   <=50K

In [3]:
d.columns=['age','workclass','fnlwgt','education','education-num',
           'marital-status','occupation','relationship','race','sex',
           'capital-gain','capital-loss','hours-per-week','native-country','class']
print("columns=", d.columns)
print("shape of the data",d.shape)

columns= Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'class'],
      dtype='object')
shape of the data (32560, 15)

In [5]:
import dtale

In [8]:
import dtale.app as dtale_app

dtale_app.USE_COLAB = True
dtale.show(d)

https://f02na7rldhn-496ff2e9c6d22116-40000-colab.googleusercontent.com/dtale/main/3